@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="Logout">
    <button type="submit">
        Logout
    </button>
</form>
<div class="text-center">
    Succesfully logged in as @ViewData["user"]
</div>
