body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #c00;
}

.search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    width: 300px;
}

.search button {
    padding: 10px 20px;
    border: none;
    background-color: #c00000;
}
