* {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

main {

}

.navbar {
    background-color: black;
    color: #E6E6E6;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-size: 15px;
    overflow: hidden;
    font-weight: lighter;
}

.left-side {
    float: left;
    padding: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-side {
    float: right;
    padding: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icon-menu {
    height: 30px;
    cursor: pointer;
    padding-right: 15px;
}

#icon-title {
    height: 40px;
    cursor: pointer;
}

.categories {
    margin: 0 0 0 25px;
    cursor: pointer;
}

.log-in-button {
    background-color: black;
    border-radius: 8px;
    color: white;
    display: inline-block;
    border: 1px solid white;
    padding: 7px;
    font-weight: bold;
}
