.barcontainer {
    position: relative;
    border: 3px solid black;
    border-radius: 5px 5px 0 0;
    width: 80%;
    margin: 0 auto;
    min-height: 25vw;
    max-height: 50vw;
    min-width: 40%;
    max-width: 60%;
    z-index: 1;
}

.barcontainerheader {
    display: inline;
    position: absolute;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.bar {
    position: absolute;
    display: inline-block;
    bottom: 0;
    border: 1px solid black;
    border-radius: 6px 6px 0 0;
    background: #663399;
    width: 10%;
    text-align: center;
    color: white;
}

.barlabel {
    position: absolute;
    border-top: 2px solid black;
    background: #888;
    bottom: 0;
    width: 100%;
    color: white;
}

.bar:nth-child(2) {
    left: 5%;
}

.bar:nth-child(3) {
    left: 20%;
}

.bar:nth-child(4) {
    left: 35%;
}

.bar:nth-child(5) {
    left: 50%;
}

.bar:nth-child(6) {
    left: 65%;
}

.bar:nth-child(7) {
    left: 80%;
}
